* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

main {
    width: 95%;
    margin: 30px 10px;
    display: flex;
}
.nav2{
    width: 100%;
    height: 60px;
    background-color: #013b82;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}
.category-wrapper {
    position: relative;
    width: 200px;
    height: 100%;
    margin-left: 40px;
    
}
.cat-btn {
    width: 100%;
    height: 60px;
    background: #01068b;
    color: white;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    gap: 8px;
    align-items: center; 
}


.category-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
    z-index: 1000;
    transition: all 0.4s ease;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.category-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #eee;
}

.category-menu a:hover {
    background: #f1f1f1;
}

.category-menu.show {
    max-height: 300px;
    opacity: 1;
    transform: translateY(0);
}
#side_bar {
    width: 20%;
    max-width: 200px;
    flex: 1 1 200px;
    background-color: white;
    padding: 10px;
     z-index: 3;
    margin: 0 0 0 40px;

}

/*.sorting {

    min-width: 160px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px 6px;
    border: 1px solid rgb(216, 220, 223);
    border-radius: 20px;
    line-height: 1.5;
    font-size: 16px;
    gap: 10px;
}*/

/*.sorting select {
    margin-right: 10px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    background-color: rgba(218, 241, 251, 0.765);

}*/

.brand_s ,.catego{
    width: 100%;
    padding: 20px 6px;
    border: 1px solid rgb(216, 220, 223);
    border-radius: 20px;
    line-height: 1.5;
    font-size: 16px;
    margin-top: 20px;
    padding-left: 13px;
  
   
}
.brands input[type="checkbox"], .cate input[type="checkbox"] {
    margin-top: 10px;
    margin-right: 15px;
    accent-color:rgba(218, 241, 251, 0.765) ;
    transform: scale(1.6);
    font-size: 14px;
}


.product_container {
    width: 88%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    margin: 0;
    position: relative;
   left: 3%;

}

.the_product {
    flex: 1 1 250px;
    max-width: 350px;
    padding: 10px;
    margin: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 3px;
    border: 1px solid rgb(232, 234, 236);
    border-radius: 20px;
    z-index: 3;
}

.the_product:hover {
    border: 1px solid rgb(89, 196, 250);


}

.product_img {
    width: 65%;
    height: 170px;
    margin: 30px 0 10px 0;
    background-image: url(./image/71JPy7gSTyL._AC_SX300_SY300_QL70_ML2_.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 30px;
}

.product_details {
    width: 100%;
    padding: 10px;
    max-height: 150px;
    min-width: 100px;
    

}

.price {
    display: flex;
    font-weight: 600;
    font-size: 19px;
    margin: 5px 10px 15px 10px;
    align-items: center;
    gap: 10px;
}

.new_price {
   
    color: rgba(55, 74, 156, 0.901);
    font-size: 20px;
    z-index: 1;
    font-weight: 700;
     margin: 0;
}

.old_price {
    color: #e53935;
    font-size: 13px;
  
    z-index: 1;
}
.dis {
    margin: 10px 0 25px 0;
    padding-left: 10px;
}
.discount {
    width: 40px;
    position: absolute;
    top: auto;
    color: rgb(246, 122, 7);
    padding: 5px;
    font-size: 16px;
    border-radius: 10px;
    text-align: center;


}

.msg {
    font-size: 15px;
    color: white;
    background-color: rgb(226, 74, 9);
    display: none;
    position: absolute;
    top: auto;
}
.product_details:hover .msg {
    display: block;
    width: 350px;
    border: 1px solid rgb(221, 104, 14);
    border-radius: 5px;
    padding: 5px;
    z-index: 2;



}

.the_product button {
    
    
    background-color: rgba(218, 241, 251, 0.765);
    color: #1a5b9b;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #d0e4f2;

    border-radius: 9px;
    width: 94%;
    margin: 10px;
    padding: 12px;
    text-align: center;
    
     
}

.the_product button:hover {
    background-color: rgb(48, 68, 126);
    color: white;

    transition: 0.3s;

}


.the_product button i {
    font-size: 18px;
}





@media (max-width: 600px) {
    .the_product {
        max-width: 75%;
    }
}






.product_details p {
    color: #333;
    font-size: 15px;
    line-height: 1.5;
    min-height: 60px;
    
}





.image_wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.product_img img{
    width:200px;
}
.icons_right {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.icons_right i {
    color: #559bd6;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s;
}

.icons_right i:hover {
    color: #1a5b9b;
}

.product_imgent  img{
    width: 70%;
    height: 170px;
    margin: 30px 0 10px 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 30px;
}

.product_imgmon {
    width: 70%;
    height: 170px;
    margin: 30px 0 10px 0;
    background-image: url(./images/mobiles/OPPO/oppo-a6-pro-black.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 30px;}

.product_imgcom {
    width: 70%;
    height: 170px;
    margin: 30px 0 10px 0;
    background-image: url(./image/image233.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 30px;
}
/* الزرار مخفي في الشاشات الكبيرة */

/* الزرار مخفي في الشاشات الكبيرة */
.filter-toggle {
    display: none;
    font-size: 22px;
    background:white;
    color:rgb(205, 205, 255);
    border: none;
    padding: 5px;
    cursor: pointer;
}
.close_menu{
    display: none;
}
/* موبايل */
@media (max-width: 800px) {

    .filter-toggle {
        display: block;
        margin: 10px;
        position: fixed;
        top: 5px;
        right: 10px;
    }

    #side_bar {
        position: fixed;
        top: 0;
        right: -300px; /* مخفي */
        width: 300px;
        height: 100%;
        background: white;
        transition: 0.3s;
        z-index: 1000;
    }

    #side_bar.active {
        right: 0; /* يظهر */
    }
    
    .close_menu {
        display: block;
        position: absolute;
        top: 20px;
        right: 30px;
        font-size: 30px;
    }
    .catego{
        margin-top: 50px;
    }
}




